<div class="row">
  <div id="description-panel" class="col-sm-3">
    <app-workout-description [description]="currentExercise.description" [steps]="currentExercise.procedure"></app-workout-description>
  </div>
  <div id="exercise-pane" class="col-sm-6">
    <h1 class="text-center">{{currentExercise.title}}</h1>
    <div class="progress time-progress row">
      <div class="progress-bar col-sm" role="progressbar"
           [attr.aria-valuenow]="count" aria-valuemin="0"
           [attr.aria-valuemax]="currentExercise.duration">
      </div>
    </div>
    <h1>Time remaining: {{currentExercise.duration - count}}</h1>
  </div>
</div>
